<footer class="site-footer">
  <div class="row">
    <div class="small-6 columns">
    </div>
    <div class="small-6 columns">
        <script type="text/javascript"><!--
        google_ad_client = "pub-4008501211486248";
        google_ad_width = 120;
        google_ad_height = 600;
        google_ad_format = "120x600_as";
        google_ad_channel ="";
        google_page_url = document.location;
        google_color_border = "000000";
        google_color_bg = "ffffff";
        google_color_link = "000000";
        google_color_url = "000000";
        google_color_text = "000000";
        //--></script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </div>
  </div>
</footer>
